{% extends 'base.html' %}

{% block title %} {{ article.title|striptags }}{% endblock title %}

{% block container %}

<div class="date-posts">
    <div class="post-outer">
        <div class="post hentry">
            <div class="post-home-wrap">
                <div itemprop="blogPost" itemscope="itemscope" itemtype="http://schema.org/BlogPosting">
                    <meta content="{% if article.thumb %} {{SITEURL}}/{{ article.thumb }} {% else %} {{ SITEURL }}/{{DEFAULT_METADATA.avatarblog}} {%endif%}"
                          itemprop="image">
                    <div class="post-header">
                        <!--TODO Implementar o breadcrumbs-->

                        <div class="breadcrumbs" xmlns:v="http://rdf.data-vocabulary.org/#">
                            <span typeof="v:Breadcrumb">
                                <a class="bhome" href="{{SITEURL}}" property="v:title" rel="v:url">Home</a>
                            </span>
                            <brc>/</brc>
                            <span typeof="v:Breadcrumb">
                                <a href="#" property="v:title" rel="v:url">CSS3 Tutorials</a>
                            </span>
                            <brc>/</brc>
                            <span typeof="v:Breadcrumb">
                                <a href="#" property="v:title" rel="v:url">Graphic Works</a>
                            </span>
                            <brc>/</brc>
                            <span typeof="v:Breadcrumb">
                                <a href="#" property="v:title" rel="v:url">HTML5 Design</a>
                            </span>
                            <brc>/</brc>
                            <span typeof="v:Breadcrumb">
                                <a href="#" property="v:title" rel="v:url">News</a>
                            </span>
                            <brc>/</brc>
                            <span typeof="v:Breadcrumb">
                                <a href="#" property="v:title" rel="v:url">Video Tuts</a>
                            </span>
                            <brc>/</brc>
                            <span>Pub'l is an APP that Allows Easy Reading and Tuts</span>
                        </div>

                        <div class="post-head" style="padding-top: 20px;">
                            <h1 class="post-title entry-title" itemprop="name headline">
                                {{ article.title }}
                            </h1>
                        </div>
                        <div class="post-meta">
                            <span class="post-author vcard">
                                <i>by</i>
                                <span class="fn" itemprop="author" itemscope="itemscope"
                                      itemtype="http://schema.org/Person">
                                    <meta content="{{SITEURL}}/{{article.author.page}}" itemprop="url">
                                    <a class="g-profile"
                                       href="{{SITEURL}}/{{article.author.url}}" rel="author"
                                       title="{{ article.author }}">
                                        <span itemprop="name">{{ article.author }}</span>
                                    </a>
                                </span>
                            </span>
                            <span class="post-timestamp">
                                <i>on</i>
                                <meta content="" itemprop="url">
                                <a class="timestamp-link" href="#" rel="bookmark" title="permanent link">
                                    <abbr class="published timeago" itemprop="datePublished" title="{{ article.date }}">
                                        {{ article.date | strftime('%d %B %Y') }}
                                    </abbr>
                                </a>
                            </span>
                            <!-- <span class="label-head">
                                 <i>in</i>
                                 <a href="https://sora-ribbon-soratemplates.blogspot.com/search/label/CSS3%20Tutorials" rel="tag">CSS3 Tutorials</a>,
                                 <a href="https://sora-ribbon-soratemplates.blogspot.com/search/label/Graphic%20Works" rel="tag">Graphic Works</a>,
                                 <a href="https://sora-ribbon-soratemplates.blogspot.com/search/label/HTML5%20Design" rel="tag">HTML5 Design</a>,
                                 <a href="https://sora-ribbon-soratemplates.blogspot.com/search/label/News" rel="tag">News</a>,
                                 <a href="https://sora-ribbon-soratemplates.blogspot.com/search/label/Video%20Tuts" rel="tag">Video Tuts</a>
                             </span>-->
                        </div>
                        <div class="share-box">
                        {% if article.readtime %}
                            <div><b>Tempo de leitura: {{article.readtime.minutes}} minutos.</b></div>
                        {% endif %}
                        </div>
                    </div>
                    <article>
                        <div class="post-body entry-content" id="post-body-2343630507570872169"
                             itemprop="articleBody">
                            <meta content="" name="twitter:description">
                            <div dir="ltr" style="text-align: left;" trbidi="on">
                                <div class="separator" style="clear: both; text-align: center;">
                                    <a href="#" imageanchor="1" style="">
                                        <!--TODO ajustar o tamanho da imagem de cada post
                                        - escolher tamanho ideal
                                        - guardar imagens neste tamanho
                                        -->
                                        <img border="0" width="250px" max-width="100%" height="auto"
                                             src="{% if article.thumb %} {{SITEURL}}/{{ article.thumb }} {% else %} {{ SITEURL }}/{{DEFAULT_METADATA.avatarblog}} {%endif%}"></a>
                                </div>
                                {{ article.content }}
                            </div>
                        </div>
                    </article>
                </div>

                <div class="post-footer">

                    {%if article.download%}
                    <!--TODO criar classe para seção de downloads do artigo -->
                    <div class="share-box">
                       <!-- <a class="btn btn-lg btn-default" target="_blank" href="{{SITEURL}}/{{article.download}}">DOWNLOAD
                            CV</a>-->
                    </div>
                    {%endif%}

                    <div class="share-box">
                        <span class="post-labels">
                        <span class="label-title">Tags</span>
                            {%for tag in article.tags%}
                                <a href="{{SITEURL}}/{{tag.url}}" rel="tag nofollow"># {{tag.name}}</a>
                            {%endfor%}
                        </span>
                        <!--TODO [RESOLVIDO] descobrir e consertar: por que os ícones não aparecem.
                            coloquei o font-family em cada classe em icons.css-->
                        <div class="share-art">
                            <a class="fac-art"
                               href="https://www.facebook.com/sharer.php?u={{SITEURL}}/{{article.url}}&amp;title={{article.title}}"
                               onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;"
                               rel="nofollow" target="_blank"><i class="site-icon-facebook"></i>
                            </a>
                            <a class="twi-art"
                               href="http://twitter.com/share?url={{SITEURL}}/{{article.url}}&amp;title={{article.title}}"
                               onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;"
                               rel="nofollow" target="_blank"><i class="site-icon-twitter"></i>
                            </a>
                            <a class="goo-art"
                               href="https://plus.google.com/share?url={{SITEURL}}/{{article.url}}&amp;title={{article.title}}"
                               onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;"
                               rel="nofollow" target="_blank"><i class="site-icon-google-plus"></i></a>
                            <a class="pin-art"
                               href="https://pinterest.com/pin/create/button/?url={{SITEURL}}/{{article.url}}&amp;title={{article.title}}&amp;media={{SITEURL}}/{{article.thumb}}&amp;description={{article.summary}}"
                               onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;"
                               rel="nofollow" target="_blank"><i class="site-icon-pinterest"></i></a>
                            <a class="lin-art"
                               href="https://www.linkedin.com/shareArticle?url={{SITEURL}}/{{article.url}}&amp;title={{article.title}}"
                               onclick="window.open(this.href, 'windowName', 'width=600, height=400, left=24, top=24, scrollbars, resizable'); return false;"
                               rel="nofollow" target="_blank"><i class="site-icon-linkedin"></i></a>

                            <!--TODO inplementar esta funcionalidade: compartilhar o post pelo whatsapp-->
                            <!--<whatsapp ref="{{SITEURL}}/{{article.url}}" text="{{article.summary}}">

                            </whatsapp>
                            <a class="wat-art"
                               href="whatsapp://send?text={{article.title}} &gt;&gt; {{SITEURL}}/{{article.url}}"
                               rel="nofollow" target="_blank"><i class="fa fa-whatsapp"></i>
                            </a>-->

                            <a class="print-art" onclick="window.print()" rel="nofollow"
                               style="cursor:pointer"><i class="site-icon-files"></i></a>
                        </div>
                    </div>
                    <div style="clear:both"></div>
                    <div class="sora-author-box">
                        <img alt="Author Image" class="avatar avatar-60 photo" height="100"
                             src="{{SITEURL}}/{{article.thumb}}"
                             width="110">
                        <p>
                            <!--TODO criar página sobre e adicionar aqui-->
                            <b>Sobre este Blog</b>
                            <br>
                            <span>Implementar isto.</span>
                        </p>
                    </div>

                    <div style="clear:both"></div>

                    <!--TODO descobrir como pegar o link do artigo anterior (postado antes do atual)-->
                    <div class="post-pager" id="post-pager">
                        <span id="blog-pager-older-link">
                            <a class="blog-pager-older-link" href="#"
                               id="Blog1_blog-pager-older-link" title="Older Post">
                                <b>Older Article  <i class="site-icon-chevron-right" aria-hidden="true"></i></b>
                                <span>Título do artigo</span>
                            </a>
                        </span>
                    </div>

                    <div style="clear:both"></div>
                    <h8 class="Related-title"><span>You May Also Like:</span></h8>
                    <div id="related-posts">
                        <div class="related">
                            <!--TODO pegar n posts das categorias do post atual
                            De acordo com as categorias do post atual:
                                - pegar as urls dos posts dessas categorias
                                - escolher os n mais recentes, mais populares, ou mais lidos
                                - mostrar abaixo em um for
                            -->
                            {% for i in [0,1,2,3] %}
                            <li>
                                <span class="related-tag">CSS3 Tutorials</span>
                                <div class="related-thumb">
                                    <a class="related-img" href="#"
                                       style="background:url('{{SITEURL}}/{{article.thumb}}') no-repeat center center;background-size: cover">
                                        <span class="related-overlay"></span>
                                    </a>
                                </div>
                                <div class="related-content">
                                    <h3 class="related-title">
                                        <a href="#">Pub'l is an APP that Allows Easy Reading and Tuts</a>
                                        <span class="recent-date">Apr 19, 2014</span>
                                    </h3>
                                </div>
                            </li>
                            {% endfor %}
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="post-footer-line post-footer-line-1">
                        <span class="post-author vcard">
                            By
                            <span class="fn" itemprop="author" itemscope="itemscope"
                                  itemtype="http://schema.org/Person">
                                <meta content="{{SITEURL}}/{{article.author.url}}" itemprop="url">
                                <a class="g-profile" href="{{SITEURL}}/{{article.author.url}}" rel="author"
                                   title="author profile">
                                    <span itemprop="name">{{article.author}}</span>
                                </a>
                            </span>
                        </span>
                        <span class="post-timestamp">
                        at
                        <meta content="{{SITEURL}}/{{article.url}}" itemprop="url">
                            <a class="timestamp-link" href="{{SITEURL}}/{{article.author.url}}" rel="bookmark"
                               title="permanent link">
                                <abbr class="published" itemprop="datePublished" title="{{article.date}}">{{article.date}}</abbr>
                            </a>
                        </span>
                        <span class="reaction-buttons"></span>
                        <span class="post-comment-link"></span>
                        <span class="post-backlinks post-comment-link"></span>

                        <div class="post-share-buttons goog-inline-block">
                        </div>
                    </div>
                    <div class="post-footer-line post-footer-line-2">

                    </div>
                    <div class="post-footer-line post-footer-line-3">
                        <span class="post-location"></span>
                    </div>
                </div>
            </div>
        </div>



        <!-- TODO - Sitema de comentários: 1 - Implementar o sistema de comentários: instalar o disqus plugin
        <div class="comments" id="comments">
             <a name="comments"></a>
             <h4>3 comments:</h4>
             <div class="comments-content">

                 <script async="async" src="" type="text/javascript"></script>
                 <script type="text/javascript">
                     (function () {
                         var items = null;
                         var msgs = null;
                         var config = {};

 // <![CDATA[
                         var cursor = null;
                         if (items && items.length > 0) {
                             cursor = parseInt(items[items.length - 1].timestamp) + 1;
                         }

                         var bodyFromEntry = function (entry) {
                             if (entry.gd$extendedProperty) {
                                 for (var k in entry.gd$extendedProperty) {
                                     if (entry.gd$extendedProperty[k].name == 'blogger.contentRemoved') {
                                         return '<span class="deleted-comment">' + entry.content.$t + '</span>';
                                     }
                                 }
                             }
                             return entry.content.$t;
                         }

                         var parse = function (data) {
                             cursor = null;
                             var comments = [];
                             if (data && data.feed && data.feed.entry) {
                                 for (var i = 0, entry; entry = data.feed.entry[i]; i++) {
                                     var comment = {};
                                     // comment ID, parsed out of the original id format
                                     var id = /blog-(\d+).post-(\d+)/.exec(entry.id.$t);
                                     comment.id = id ? id[2] : null;
                                     comment.body = bodyFromEntry(entry);
                                     comment.timestamp = Date.parse(entry.published.$t) + '';
                                     if (entry.author && entry.author.constructor === Array) {
                                         var auth = entry.author[0];
                                         if (auth) {
                                             comment.author = {
                                                 name: (auth.name ? auth.name.$t : undefined),
                                                 profileUrl: (auth.uri ? auth.uri.$t : undefined),
                                                 avatarUrl: (auth.gd$image ? auth.gd$image.src : undefined)
                                             };
                                         }
                                     }
                                     if (entry.link) {
                                         if (entry.link[2]) {
                                             comment.link = comment.permalink = entry.link[2].href;
                                         }
                                         if (entry.link[3]) {
                                             var pid = /.*comments\/default\/(\d+)\?.*/.exec(entry.link[3].href);
                                             if (pid && pid[1]) {
                                                 comment.parentId = pid[1];
                                             }
                                         }
                                     }
                                     comment.deleteclass = 'item-control blog-admin';
                                     if (entry.gd$extendedProperty) {
                                         for (var k in entry.gd$extendedProperty) {
                                             if (entry.gd$extendedProperty[k].name == 'blogger.itemClass') {
                                                 comment.deleteclass += ' ' + entry.gd$extendedProperty[k].value;
                                             } else if (entry.gd$extendedProperty[k].name == 'blogger.displayTime') {
                                                 comment.displayTime = entry.gd$extendedProperty[k].value;
                                             }
                                         }
                                     }
                                     comments.push(comment);
                                 }
                             }
                             return comments;
                         };

                         var paginator = function (callback) {
                             if (hasMore()) {
                                 var url = config.feed + '?alt=json&v=2&orderby=published&reverse=false&max-results=50';
                                 if (cursor) {
                                     url += '&published-min=' + new Date(cursor).toISOString();
                                 }
                                 window.bloggercomments = function (data) {
                                     var parsed = parse(data);
                                     cursor = parsed.length < 50 ? null
                                         : parseInt(parsed[parsed.length - 1].timestamp) + 1
                                     callback(parsed);
                                     window.bloggercomments = null;
                                 }
                                 url += '&callback=bloggercomments';
                                 var script = document.createElement('script');
                                 script.type = 'text/javascript';
                                 script.src = url;
                                 document.getElementsByTagName('head')[0].appendChild(script);
                             }
                         };
                         var hasMore = function () {
                             return !!cursor;
                         };
                         var getMeta = function (key, comment) {
                             if ('iswriter' == key) {
                                 var matches = !!comment.author
                                     && comment.author.name == config.authorName
                                     && comment.author.profileUrl == config.authorUrl;
                                 return matches ? 'true' : '';
                             } else if ('deletelink' == key) {
                                 return config.baseUri + '/delete-comment.g?blogID='
                                     + config.blogId + '&postID=' + comment.id;
                             } else if ('deleteclass' == key) {
                                 return comment.deleteclass;
                             }
                             return '';
                         };

                         var replybox = null;
                         var replyUrlParts = null;
                         var replyParent = undefined;

                         var onReply = function (commentId, domId) {
                             if (replybox == null) {
                                 // lazily cache replybox, and adjust to suit this style:
                                 replybox = document.getElementById('comment-editor');
                                 if (replybox != null) {
                                     replybox.height = '250px';
                                     replybox.style.display = 'block';
                                     replyUrlParts = replybox.src.split('#');
                                 }
                             }
                             if (replybox && (commentId !== replyParent)) {
                                 replybox.src = '';
                                 document.getElementById(domId).insertBefore(replybox, null);
                                 replybox.src = replyUrlParts[0]
                                     + (commentId ? '&parentID=' + commentId : '')
                                     + '#' + replyUrlParts[1];
                                 replyParent = commentId;
                             }
                         };

                         var hash = (window.location.hash || '#').substring(1);
                         var startThread, targetComment;
                         if (/^comment-form_/.test(hash)) {
                             startThread = hash.substring('comment-form_'.length);
                         } else if (/^c[0-9]+$/.test(hash)) {
                             targetComment = hash.substring(1);
                         }

                         // Configure commenting API:
                         var configJso = {
                             'maxDepth': config.maxThreadDepth
                         };
                         var provider = {
                             'id': config.postId,
                             'data': items,
                             'loadNext': paginator,
                             'hasMore': hasMore,
                             'getMeta': getMeta,
                             'onReply': onReply,
                             'rendered': true,
                             'initComment': targetComment,
                             'initReplyThread': startThread,
                             'config': configJso,
                             'messages': msgs
                         };

                         var render = function () {
                             if (window.goog && window.goog.comments) {
                                 var holder = document.getElementById('comment-holder');
                                 window.goog.comments.render(holder, provider);
                             }
                         };

                         // render now, or queue to render when library loads:
                         if (window.goog && window.goog.comments) {
                             render();
                         } else {
                             window.goog = window.goog || {};
                             window.goog.comments = window.goog.comments || {};
                             window.goog.comments.loadQueue = window.goog.comments.loadQueue || [];
                             window.goog.comments.loadQueue.push(render);
                         }
                     })();
                     // ]]>
                 </script>

                 <div id="comment-holder">
                     <div class="comment-thread toplevel-thread">
                         <ol id="top-ra">
                             <li class="comment" id="c1323072233749772679">
                                 <div class="avatar-image-container">
                                     <img class="comment-avatar-circle" src="{{SITEURL}}/{{DEFAULT_METADATA.avatarblog}}" alt="">
                                 </div>
                                 <div class="comment-block">
                                     <div class="comment-header">
                                         <cite class="user">
                                             <a href="{{SITEURL}}/{{article.author.url}}" rel="nofollow">{{article.author}}</a>
                                         </cite>
                                         <span class="icon user blog-author"></span>
                                         <span class="datetime secondary-text">
                                             <a rel="nofollow" href="#">Data do comentário</a>
                                         </span>
                                     </div>
                                     <p class="comment-content">Este é um comentário. </p>
                                     <span class="comment-actions secondary-text">
                                         <a class="comment-reply" target="_self" data-comment-id="1323072233749772679"
                                            href="javascript:;">Responder</a>
                                         <span class="item-control blog-admin blog-admin pid-284863665">
                                             <a target="_self"
                                                href="#">Apagar</a>
                                         </span>
                                     </span>
                                 </div>

                                 <div class="comment-replies">
                                     <div id="c1323072233749772679-rt" class="comment-thread inline-thread">
                                         <span class="thread-toggle thread-expanded">
                                             <span class="thread-arrow"></span>
                                             <span class="thread-count">
                                                 <a target="_self" href="javascript:;">Respostas</a>
                                             </span>
                                         </span>
                                         <ol id="c1323072233749772679-ra" class="thread-chrome thread-expanded">
                                             <div>
                                                 <li class="comment" id="c1408670462899331238">
                                                     <div class="avatar-image-container">
                                                         <img src="{{SITEULR}}/{{HEADER}}" alt="">
                                                     </div>
                                                     <div class="comment-block">
                                                         <div class="comment-header">
                                                             <cite class="user">
                                                                 <a href="{{SITEURL}}/{{article.author.url}}"
                                                                    rel="nofollow">{{article.author}}</a>
                                                             </cite>
                                                             <span class="icon user blog-author"></span>
                                                             <span class="datetime secondary-text">
                                                                 <a rel="nofollow" href="#">Data do comentário</a>
                                                             </span>
                                                         </div>
                                                         <p class="comment-content">Este é um comentário. </p>
                                                         <span class="comment-actions secondary-text">
                                                             <a class="comment-reply" target="_self"
                                                                data-comment-id="1323072233749772679"
                                                                href="javascript:;">Responder</a>
                                                             <span class="item-control blog-admin blog-admin pid-284863665">
                                                                 <a target="_self" href="#">Apagar</a>
                                                             </span>
                                                         </span>
                                                     </div>
                                                     <div class="comment-replies">
                                                         <div id="c1408670462899331238-rt"
                                                              class="comment-thread inline-thread hidden">
                                                             <span class="thread-toggle thread-expanded">
                                                                 <span class="thread-arrow"></span>
                                                                 <span class="thread-count">
                                                                     <a target="_self"
                                                                        href="javascript:;">Respostas</a></span>
                                                             </span>
                                                         </div>
                                                     </div>
                                                     <div class="comment-replybox-single"
                                                          id="c1408670462899331238-ce"></div>
                                                 </li>
                                             </div>

                                         </ol>
                                     </div>
                                 </div>
                                 <div class="comment-replybox-single" id="c1323072233749772679-ce"></div>
                             </li>
                             <li class="comment" id="c1019587649399750182">
                                 <div class="avatar-image-container">
                                     <img class="comment-avatar-circle" src="{{HEADER}}" alt="">
                                 </div>
                                 <div class="comment-block">
                                     <div class="comment-header">
                                         <cite class="user">
                                             <a href="{{SITEURL}}/{{article.author.url}}" rel="nofollow">{{article.author}}</a>
                                         </cite>
                                         <span class="icon user blog-author"></span>
                                         <span class="datetime secondary-text">
                                             <a rel="nofollow" href="#">Data do comentário</a>
                                         </span>
                                     </div>
                                     <p class="comment-content">Este é um comentário. </p>
                                     <span class="comment-actions secondary-text">
                                         <a class="comment-reply" target="_self" data-comment-id="1323072233749772679"
                                            href="javascript:;">Responder</a>
                                         <span class="item-control blog-admin blog-admin pid-284863665">
                                             <a target="_self"
                                                href="#">Apagar</a>
                                         </span>
                                     </span>
                                 </div>

                                 <div class="comment-replies">
                                     <div id="c1323072233749772679-rt" class="comment-thread inline-thread">
                                         <span class="thread-toggle thread-expanded">
                                             <span class="thread-arrow"></span>
                                             <span class="thread-count">
                                                 <a target="_self" href="javascript:;">Respostas</a>
                                             </span>
                                         </span>
                                         <ol id="c1323072233749772679-ra" class="thread-chrome thread-expanded">
                                             <div>
                                                 <li class="comment" id="c1408670462899331238">
                                                     <div class="avatar-image-container">
                                                         <img src="{{SITEULR}}/{{HEADER}}" alt="">
                                                     </div>
                                                     <div class="comment-block">
                                                         <div class="comment-header">
                                                             <cite class="user">
                                                                 <a href="{{SITEURL}}/{{article.author.url}}"
                                                                    rel="nofollow">{{article.author}}</a>
                                                             </cite>
                                                             <span class="icon user blog-author"></span>
                                                             <span class="datetime secondary-text">
                                                                 <a rel="nofollow" href="#">Data do comentário</a>
                                                             </span>
                                                         </div>
                                                         <p class="comment-content">Este é um comentário. </p>
                                                         <span class="comment-actions secondary-text">
                                                             <a class="comment-reply" target="_self"
                                                                data-comment-id="1323072233749772679"
                                                                href="javascript:;">Responder</a>
                                                             <span class="item-control blog-admin blog-admin pid-284863665">
                                                                 <a target="_self" href="#">Apagar</a>
                                                             </span>
                                                         </span>
                                                     </div>
                                                     <div class="comment-replies">
                                                         <div id="c1408670462899331238-rt"
                                                              class="comment-thread inline-thread hidden">
                                                             <span class="thread-toggle thread-expanded">
                                                                 <span class="thread-arrow"></span>
                                                                 <span class="thread-count">
                                                                     <a target="_self"
                                                                        href="javascript:;">Respostas</a></span>
                                                             </span>
                                                         </div>
                                                     </div>
                                                     <div class="comment-replybox-single"
                                                          id="c1408670462899331238-ce"></div>
                                                 </li>
                                             </div>

                                         </ol>
                                     </div>
                                 </div>
                                 <div class="comment-replybox-single" id="c1323072233749772679-ce"></div>
                             </li>
                         </ol>


                         <div id="top-continue" class="continue hidden">
                             <a class="comment-reply" target="_self" href="javascript:;">
                                 Add comment</a>
                         </div>

                         <div class="comment-replybox-thread" id="top-ce">
                             <iframe allowtransparency="true"
                                     class="blogger-iframe-colorize blogger-comment-from-post"
                                     frameborder="0" height="194px" id="comment-editor"
                                     name="comment-editor"
                                     src="https://www.blogger.com/comment-iframe.g?blogID=6235283326416667399&amp;postID=2343630507570872169&amp;blogspotRpcToken=8388732#%7B%22color%22:%22rgb(46,%2046,%2046)%22,%22backgroundColor%22:%22rgb(255,%20255,%20255)%22,%22unvisitedLinkColor%22:%22rgb(0,%200,%200)%22,%22fontFamily%22:%22Roboto,%20sans-serif%22%7D"
                                     width="100%" style="display: block;" data-resized="true">

                             </iframe>
                         </div>
                         <div class="loadmore hidden" data-post-id="2343630507570872169">
                             <a target="_self">Load more...</a>
                         </div>
                     </div>
                 </div>
             </div>

            <p class="comment-footer">
            </p>

            <div class="comment-form">
                <iframe allowtransparency="true"
                        frameborder="0" height="194px" name="comment-editor"
                        src=""
                        width="100%" style="display: block;" data-resized="true"></iframe>
            </div>
            <p></p>
            <div id="backlinks-container">
                <div id="Blog1_backlinks-container">
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock container %}

{% block footer %}
{% include '_includes/footer.html' %}
{% endblock %}
