{% extends 'base.html' %}

{% block title %} {{ SITENAME }} - Autores {% endblock %}

{% block container %}
    <section id="content">
        <header class="header">
            <h2 class="blogpost-title">Autores</h2>
        </header>
        <dl>
            {% for author, articles in authors %}
                <dd>
                    <a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>({{ articles|count }})
                </dd>
            {% endfor %}
        </dl>
    </section>
    <br/><br/><br/>

{% endblock %}

{% block footer %}
    {% include '_includes/footer.html' %}
{% endblock %}