.site-icon-awards:before {
    content: "\e91e";
    font-family: icomoon;
}

.site-icon-education:before {
    content: "\e93e";
    font-family: icomoon;
}

.site-icon-user-card:before {
    content: "\e93f";
    font-family: icomoon;
}

.site-icon-faq:before {
    content: "\e941";
    font-family: icomoon;
}

.site-icon-interests:before {
    content: "\e942";
    font-family: icomoon;
}

.site-icon-language:before {
    content: "\e943";
    font-family: icomoon;
}

.site-icon-price:before {
    content: "\e944";
    font-family: icomoon;
}

.site-icon-recom:before {
    content: "\e945";
    font-family: icomoon;
}

.site-icon-services:before {
    content: "\e946";
    font-family: icomoon;
}

.site-icon-switcher:before {
    content: "\e948";
    font-family: icomoon;
}

.site-icon-calendar:before {
    content: "\e91b";
    font-family: icomoon;
}

.site-icon-donation:before {
    content: "\e926";
    font-family: icomoon;
}

.site-icon-animal-lover:before {
    content: "\e912";
    font-family: icomoon;
}

.site-icon-island:before {
    content: "\e913";
    font-family: icomoon;
}

.site-icon-library:before {
    content: "\e914";
    font-family: icomoon;
}

.site-icon-bbq:before {
    content: "\e917";
    font-family: icomoon;
}

.site-icon-buddhism:before {
    content: "\e918";
    font-family: icomoon;
}

.site-icon-cafe:before {
    content: "\e919";
    font-family: icomoon;
}

.site-icon-dentist:before {
    content: "\e920";
    font-family: icomoon;
}

.site-icon-fast-food:before {
    content: "\e921";
    font-family: icomoon;
}

.site-icon-garden:before {
    content: "\e924";
    font-family: icomoon;
}

.site-icon-karaoke:before {
    content: "\e925";
    font-family: icomoon;
}

.site-icon-playground:before {
    content: "\e927";
    font-family: icomoon;
}

.site-icon-christian:before {
    content: "\e928";
    font-family: icomoon;
}

.site-icon-jewish:before {
    content: "\e929";
    font-family: icomoon;
}

.site-icon-muslim:before {
    content: "\e92a";
    font-family: icomoon;
}

.site-icon-restaurant:before {
    content: "\e92b";
    font-family: icomoon;
}

.site-icon-shop:before {
    content: "\e92c";
    font-family: icomoon;
}

.site-icon-skiing:before {
    content: "\e92d";
    font-family: icomoon;
}

.site-icon-tennis:before {
    content: "\e92f";
    font-family: icomoon;
}

.site-icon-theatre:before {
    content: "\e930";
    font-family: icomoon;
}

.site-icon-bicycle:before {
    content: "\e931";
    font-family: icomoon;
}

.site-icon-chef:before {
    content: "\e932";
    font-family: icomoon;
}

.site-icon-dancer:before {
    content: "\e933";
    font-family: icomoon;
}

.site-icon-fishing:before {
    content: "\e934";
    font-family: icomoon;
}

.site-icon-hiking:before {
    content: "\e935";
    font-family: icomoon;
}

.site-icon-horse-riding:before {
    content: "\e936";
    font-family: icomoon;
}

.site-icon-hunting:before {
    content: "\e937";
    font-family: icomoon;
}

.site-icon-party:before {
    content: "\e938";
    font-family: icomoon;
}

.site-icon-canoe:before {
    content: "\e939";
    font-family: icomoon;
}

.site-icon-swimming:before {
    content: "\e93a";
    font-family: icomoon;
}

.site-icon-skydiving:before {
    content: "\e93b";
    font-family: icomoon;
}

.site-icon-surfing:before {
    content: "\e93c";
    font-family: icomoon;
}

.site-icon-contact:before {
    content: "\e904";
    font-family: icomoon;
}

.site-icon-arrow-flat-left:before {
    content: "\e90d";
    font-family: icomoon;
}

.site-icon-arrow-flat-right:before {
    content: "\e90e";
    font-family: icomoon;
}

.site-icon-quote:before {
    content: "\e90a";
    font-family: icomoon;
}

.site-icon-side-bar-icon:before {
    content: "\e900";
    font-family: icomoon;
}

.site-icon-references:before {
    content: "\e901";
    font-family: icomoon;
}

.site-icon-portfolio:before {
    content: "\e902";
    font-family: icomoon;
}

.site-icon-experience:before {
    content: "\e903";
    font-family: icomoon;
}

.site-icon-blog:before {
    content: "\e905";
    font-family: icomoon;
}

.site-icon-arrow-page-up:before {
    content: "\e906";
    font-family: icomoon;
}

.site-icon-about:before {
    content: "\e907";
    font-family: icomoon;
}

.site-icon-sports-shoe:before {
    content: "\e910";
    font-family: icomoon;
}

.site-icon-bowling:before {
    content: "\e911";
    font-family: icomoon;
}

.site-icon-baseball:before {
    content: "\e915";
    font-family: icomoon;
}

.site-icon-soccer-court:before {
    content: "\e916";
    font-family: icomoon;
}

.site-icon-basketball:before {
    content: "\e91a";
    font-family: icomoon;
}

.site-icon-golf:before {
    content: "\e91c";
    font-family: icomoon;
}

.site-icon-table-tennis:before {
    content: "\e91d";
    font-family: icomoon;
}

.site-icon-football:before {
    content: "\e91f";
    font-family: icomoon;
}

.site-icon-walk:before {
    content: "\e922";
    font-family: icomoon;
}

.site-icon-chevron-thin-right:before {
    content: "\e90b";
    font-family: icomoon;
}

.site-icon-chevron-thin-left:before {
    content: "\e90c";
    font-family: icomoon;
}

.site-icon-chevron-thin-down:before {
    content: "\e908";
    font-family: icomoon;
}

.site-icon-dots-three-horizontal:before {
    content: "\e909";
    font-family: icomoon;
}

.site-icon-tv:before {
    content: "\e923";
    font-family: icomoon;
}

.site-icon-bed:before {
    content: "\e90f";
    font-family: icomoon;
}

.site-icon-question:before {
    content: "\f128";
    font-family: icomoon;
}

.site-icon-glass:before {
    content: "\f000";
    font-family: icomoon;
}

.site-icon-music:before {
    content: "\f003";
    font-family: icomoon;
}

.site-icon-heart:before {
    content: "\f004";
    font-family: icomoon;
}

.site-icon-film:before {
    content: "\f008";
    font-family: icomoon;
}

.site-icon-power-off:before {
    content: "\f011";
    font-family: icomoon;
}

.site-icon-home:before {
    content: "\f015";
    font-family: icomoon;
}

.site-icon-road:before {
    content: "\f018";
    font-family: icomoon;
}

.site-icon-headphones:before {
    content: "\f025";
    font-family: icomoon;
}

.site-icon-book:before {
    content: "\f02d";
    font-family: icomoon;
}

.site-icon-camera:before {
    content: "\f030";
    font-family: icomoon;
}

.site-icon-video-camera:before {
    content: "\f03d";
    font-family: icomoon;
}

.site-icon-image:before {
    content: "\f03e";
    font-family: icomoon;
}

.site-icon-pencil:before {
    content: "\f040";
    font-family: icomoon;
}

.site-icon-map:before {
    content: "\f041";
    font-family: icomoon;
}

.site-icon-gift:before {
    content: "\f06b";
    font-family: icomoon;
}

.site-icon-leaf:before {
    content: "\f06c";
    font-family: icomoon;
}

.site-icon-eye:before {
    content: "\f06e";
    font-family: icomoon;
}

.site-icon-plane:before {
    content: "\f072";
    font-family: icomoon;
}

.site-icon-shopping:before {
    content: "\f073";
    font-family: icomoon;
}

.site-icon-key:before {
    content: "\f084";
    font-family: icomoon;
}

.site-icon-thumbs-up:before {
    content: "\f087";
    font-family: icomoon;
}

.site-icon-thumbs-down:before {
    content: "\f088";
    font-family: icomoon;
}

.site-icon-heart-o:before {
    content: "\f08a";
    font-family: icomoon;
}

.site-icon-pin:before {
    content: "\f08d";
    font-family: icomoon;
}

.site-icon-trophy:before {
    content: "\f091";
    font-family: icomoon;
}

.site-icon-phone:before {
    content: "\f095";
    font-family: icomoon;
}

.site-icon-card:before {
    content: "\f09d";
    font-family: icomoon;
}

.site-icon-feed:before {
    content: "\f09f";
    font-family: icomoon;
}

.site-icon-bullhorn:before {
    content: "\f0a1";
    font-family: icomoon;
}

.site-icon-globe:before {
    content: "\f0ac";
    font-family: icomoon;
}

.site-icon-wrench:before {
    content: "\f0ad";
    font-family: icomoon;
}

.site-icon-filter:before {
    content: "\f0b0";
    font-family: icomoon;
}

.site-icon-briefcase:before {
    content: "\f0b1";
    font-family: icomoon;
}

.site-icon-people:before {
    content: "\f0c0";
    font-family: icomoon;
}

.site-icon-chain:before {
    content: "\f0c1";
    font-family: icomoon;
}

.site-icon-cloud:before {
    content: "\f0c2";
    font-family: icomoon;
}

.site-icon-flask:before {
    content: "\f0c3";
    font-family: icomoon;
}

.site-icon-cut:before {
    content: "\f0c4";
    font-family: icomoon;
}

.site-icon-files:before {
    content: "\f0c5";
    font-family: icomoon;
}

.site-icon-paperclip:before {
    content: "\f0c6";
    font-family: icomoon;
}

.site-icon-magic:before {
    content: "\f0d0";
    font-family: icomoon;
}

.site-icon-truck:before {
    content: "\f0d1";
    font-family: icomoon;
}

.site-icon-money:before {
    content: "\f0d6";
    font-family: icomoon;
}

.site-icon-gavel:before {
    content: "\f0e3";
    font-family: icomoon;
}

.site-icon-dashboard:before {
    content: "\f0e4";
    font-family: icomoon;
}

.site-icon-comment:before {
    content: "\f0e5";
    font-family: icomoon;
}

.site-icon-flash:before {
    content: "\f0e7";
    font-family: icomoon;
}

.site-icon-sitemap:before {
    content: "\f0e8";
    font-family: icomoon;
}

.site-icon-umbrella:before {
    content: "\f0e9";
    font-family: icomoon;
}

.site-icon-stethoscope:before {
    content: "\f0f1";
    font-family: icomoon;
}

.site-icon-suitcase:before {
    content: "\f0f2";
    font-family: icomoon;
}

.site-icon-bell:before {
    content: "\f0f3";
    font-family: icomoon;
}

.site-icon-coffee:before {
    content: "\f0f4";
    font-family: icomoon;
}

.site-icon-fighter-jet:before {
    content: "\f0fb";
    font-family: icomoon;
}

.site-icon-beer:before {
    content: "\f0fc";
    font-family: icomoon;
}

.site-icon-laptop:before {
    content: "\f109";
    font-family: icomoon;
}

.site-icon-mobile-phone:before {
    content: "\f10b";
    font-family: icomoon;
}

.site-icon-folder:before {
    content: "\f114";
    font-family: icomoon;
}

.site-icon-folder-open:before {
    content: "\f115";
    font-family: icomoon;
}

.site-icon-game:before {
    content: "\f11b";
    font-family: icomoon;
}

.site-icon-keyboard:before {
    content: "\f11c";
    font-family: icomoon;
}

.site-icon-flag:before {
    content: "\f11e";
    font-family: icomoon;
}

.site-icon-location-arrow:before {
    content: "\f124";
    font-family: icomoon;
}

.site-icon-info:before {
    content: "\f129";
    font-family: icomoon;
}

.site-icon-exclamation:before {
    content: "\f12a";
    font-family: icomoon;
}

.site-icon-microphone:before {
    content: "\f130";
    font-family: icomoon;
}

.site-icon-fire-extinguisher:before {
    content: "\f134";
    font-family: icomoon;
}

.site-icon-rocket:before {
    content: "\f135";
    font-family: icomoon;
}

.site-icon-anchor:before {
    content: "\f13f";
    font-family: icomoon;
}

.site-icon-unlock:before {
    content: "\f140";
    font-family: icomoon;
}

.site-icon-pagelines:before {
    content: "\f18c";
    font-family: icomoon;
}

.site-icon-space-shuttle:before {
    content: "\f197";
    font-family: icomoon;
}

.site-icon-slack:before {
    content: "\f198";
    font-family: icomoon;
}

.site-icon-bank:before {
    content: "\f19c";
    font-family: icomoon;
}

.site-icon-graduation-cap:before {
    content: "\f19d";
    font-family: icomoon;
}

.site-icon-car:before {
    content: "\f1b9";
    font-family: icomoon;
}

.site-icon-tree:before {
    content: "\f1bb";
    font-family: icomoon;
}

.site-icon-life-bouy:before {
    content: "\f1cd";
    font-family: icomoon;
}

.site-icon-send-o:before {
    content: "\f1d9";
    font-family: icomoon;
}

.site-icon-ball:before {
    content: "\f1e3";
    font-family: icomoon;
}

.site-icon-binoculars:before {
    content: "\f1e5";
    font-family: icomoon;
}

.site-icon-plug:before {
    content: "\f1e6";
    font-family: icomoon;
}

.site-icon-brush:before {
    content: "\f1fc";
    font-family: icomoon;
}

.site-icon-cake:before {
    content: "\f1fd";
    font-family: icomoon;
}

.site-icon-diamond:before {
    content: "\f219";
    font-family: icomoon;
}

.site-icon-user-secret:before {
    content: "\f21b";
    font-family: icomoon;
}

.site-icon-motorcycle:before {
    content: "\f21c";
    font-family: icomoon;
}

.site-icon-heartbeat:before {
    content: "\f21e";
    font-family: icomoon;
}

.site-icon-venus:before {
    content: "\f221";
    font-family: icomoon;
}

.site-icon-mars:before {
    content: "\f222";
    font-family: icomoon;
}

.site-icon-scale:before {
    content: "\f24e";
    font-family: icomoon;
}

.site-icon-wheelchair:before {
    content: "\f29b";
    font-family: icomoon;
}

.site-icon-question-circle:before {
    content: "\f29c";
    font-family: icomoon;
}

.site-icon-blind:before {
    content: "\f29d";
    font-family: icomoon;
}

.site-icon-ad:before {
    content: "\f29e";
    font-family: icomoon;
}

.site-icon-phone-volume:before {
    content: "\f2a0";
    font-family: icomoon;
}

.site-icon-braille:before {
    content: "\f2a1";
    font-family: icomoon;
}

.site-icon-assistive-listening-systems:before {
    content: "\f2a2";
    font-family: icomoon;
}

.site-icon-sign-language-o:before {
    content: "\f2a3";
    font-family: icomoon;
}

.site-icon-deaf:before {
    content: "\f2a4";
    font-family: icomoon;
}

.site-icon-sign-language:before {
    content: "\f2a8";
    font-family: icomoon;
}

.site-icon-low-vision:before {
    content: "\f2a9";
    font-family: icomoon;
}

.site-icon-handshake:before {
    content: "\f2b5";
    font-family: icomoon;
}

.site-icon-shower:before {
    content: "\f2cc";
    font-family: icomoon;
}

.site-icon-snowflake:before {
    content: "\f2dc";
    font-family: icomoon;
}

.site-icon-search:before {
    content: "\f002";
    font-family: icomoon;
}

.site-icon-user:before {
    content: "\f007";
    font-family: icomoon;
}

.site-icon-check:before {
    content: "\f00c";
    font-family: icomoon;
}

.site-icon-close:before {
    content: "\f00d";
    font-family: icomoon;
}

.site-icon-volume-up:before {
    content: "\f028";
    font-family: icomoon;
}

.site-icon-chevron-left:before {
    content: "\f053";
    font-family: icomoon;
}

.site-icon-chevron-right:before {
    content: "\f054";
    font-family: icomoon;
}

.site-icon-chevron-up:before {
    content: "\f077";
    font-family: icomoon;
}

.site-icon-chevron-down:before {
    content: "\f078";
    font-family: icomoon;
}

.site-icon-twitter:before {
    content: "\f099";
    font-family: icomoon;
}

.site-icon-facebook:before {
    content: "\f09a";
    font-family: icomoon;
}

.site-icon-github:before {
    content: "\f09b";
    font-family: icomoon;
}

.site-icon-rss:before {
    content: "\f09e";
    font-family: icomoon;
}

.site-icon-google-plus:before {
    content: "\f0d5";
    font-family: icomoon;
}

.site-icon-caret-down:before {
    content: "\f0d7";
    font-family: icomoon;
}

.site-icon-caret-up:before {
    content: "\f0d8";
    font-family: icomoon;
}

.site-icon-caret-left:before {
    content: "\f0d9";
    font-family: icomoon;
}

.site-icon-caret-right:before {
    content: "\f0da";
    font-family: icomoon;
}

.site-icon-linkedin:before {
    content: "\f0e1";
    font-family: icomoon;
}

.site-icon-angle-left:before {
    content: "\f104";
    font-family: icomoon;
}

.site-icon-angle-right:before {
    content: "\f105";
    font-family: icomoon;
}

.site-icon-angle-up:before {
    content: "\f106";
    font-family: icomoon;
}

.site-icon-angle-down:before {
    content: "\f107";
    font-family: icomoon;
}

.site-icon-github-alt:before {
    content: "\f113";
    font-family: icomoon;
}

.site-icon-html5:before {
    content: "\f13b";
    font-family: icomoon;
}

.site-icon-css3:before {
    content: "\f13c";
    font-family: icomoon;
}

.site-icon-youtube:before {
    content: "\f167";
    font-family: icomoon;
}

.site-icon-xing:before {
    content: "\f168";
    font-family: icomoon;
}

.site-icon-dropbox:before {
    content: "\f16b";
    font-family: icomoon;
}

.site-icon-stack-overflow:before {
    content: "\f16c";
    font-family: icomoon;
}

.site-icon-instagram:before {
    content: "\f16d";
    font-family: icomoon;
}

.site-icon-flickr:before {
    content: "\f16e";
    font-family: icomoon;
}

.site-icon-bitbucket:before {
    content: "\f171";
    font-family: icomoon;
}

.site-icon-tumblr:before {
    content: "\f173";
    font-family: icomoon;
}

.site-icon-apple:before {
    content: "\f179";
    font-family: icomoon;
}

.site-icon-windows:before {
    content: "\f17a";
    font-family: icomoon;
}

.site-icon-android:before {
    content: "\f17b";
    font-family: icomoon;
}

.site-icon-linux:before {
    content: "\f17c";
    font-family: icomoon;
}

.site-icon-dribbble:before {
    content: "\f17d";
    font-family: icomoon;
}

.site-icon-skype:before {
    content: "\f17e";
    font-family: icomoon;
}

.site-icon-foursquare:before {
    content: "\f180";
    font-family: icomoon;
}

.site-icon-vk:before {
    content: "\f189";
    font-family: icomoon;
}

.site-icon-try:before {
    content: "\f195";
    font-family: icomoon;
}

.site-icon-wordpress:before {
    content: "\f19a";
    font-family: icomoon;
}

.site-icon-yahoo:before {
    content: "\f19e";
    font-family: icomoon;
}

.site-icon-google:before {
    content: "\f1a0";
    font-family: icomoon;
}

.site-icon-reddit:before {
    content: "\f1a1";
    font-family: icomoon;
}

.site-icon-stumbleupon:before {
    content: "\f1a4";
    font-family: icomoon;
}

.site-icon-delicious:before {
    content: "\f1a5";
    font-family: icomoon;
}

.site-icon-digg:before {
    content: "\f1a6";
    font-family: icomoon;
}

.site-icon-pied-piper:before {
    content: "\f1a7";
    font-family: icomoon;
}

.site-icon-drupal:before {
    content: "\f1a9";
    font-family: icomoon;
}

.site-icon-cube:before {
    content: "\f1b2";
    font-family: icomoon;
}

.site-icon-cubes:before {
    content: "\f1b3";
    font-family: icomoon;
}

.site-icon-behance:before {
    content: "\f1b4";
    font-family: icomoon;
}

.site-icon-soundcloud:before {
    content: "\f1be";
    font-family: icomoon;
}

.site-icon-vine:before {
    content: "\f1ca";
    font-family: icomoon;
}

.site-icon-jsfiddle:before {
    content: "\f1cc";
    font-family: icomoon;
}

.site-icon-git:before {
    content: "\f1d3";
    font-family: icomoon;
}

.site-icon-hacker-news:before {
    content: "\f1d4";
    font-family: icomoon;
}

.site-icon-qq:before {
    content: "\f1d6";
    font-family: icomoon;
}

.site-icon-wechat:before {
    content: "\f1d7";
    font-family: icomoon;
}

.site-icon-share:before {
    content: "\f1e0";
    font-family: icomoon;
}

.site-icon-pinterest:before {
    content: "\f231";
    font-family: icomoon;
}

.site-icon-whatsapp:before {
    content: "\f232";
    font-family: icomoon;
}

.site-icon-y-combinator:before {
    content: "\f23b";
    font-family: icomoon;
}

.site-icon-trademark:before {
    content: "\f25c";
    font-family: icomoon;
}

.site-icon-registered:before {
    content: "\f25d";
    font-family: icomoon;
}

.site-icon-cc:before {
    content: "\f25e";
    font-family: icomoon;
}

.site-icon-gg:before {
    content: "\f260";
    font-family: icomoon;
}

.site-icon-tripadvisor:before {
    content: "\f262";
    font-family: icomoon;
}

.site-icon-odnoklassniki:before {
    content: "\f263";
    font-family: icomoon;
}

.site-icon-amazon:before {
    content: "\f270";
    font-family: icomoon;
}

.site-icon-vimeo:before {
    content: "\f27d";
    font-family: icomoon;
}

.site-icon-reddit-alien:before {
    content: "\f281";
    font-family: icomoon;
}

.site-icon-bluetooth:before {
    content: "\f294";
    font-family: icomoon;
}

.site-icon-gitlab:before {
    content: "\f296";
    font-family: icomoon;
}

.site-icon-glide:before {
    content: "\f2a6";
    font-family: icomoon;
}

.site-icon-snapchat:before {
    content: "\f2ab";
    font-family: icomoon;
}

.site-icon-yoast:before {
    content: "\f2b1";
    font-family: icomoon;
}
