.text-primary {
    color: #25A4DB;
}

mark, .bg-primary, .btn-primary, .togglebox-header:before, .accordion-header:before{
    background-color: #25A4DB;
}

.btn-bordered, .brd-primary{
    border-color: #25A4DB;
}

.site-card, .btn-primary, accordion-header, .togglebox-header {
    color: #010101;
}

.bg-primary .btn-bordered {
    border-color: #010101;
    color: #010101;
}

.site-nav-btm:after {
    background-color: #2C363B
}

.site-head-inner, .site-card-footer, blockquote.quote-top:before, blockquote.quote-side:before, .tooltip:after, .time-line-box:last-child:after, .site-nav-type1 .site-nav-cont, .site-side-box-1, .site-side-box-2, .site-side-box-2 .widget, #siteContainer, .site-paper, .site-paper-layers:after, .site-paper-layers:before, .site-side-box-1 #sticky-widget-inner {
    background-color: #fff;
}


.btn-default {
    background-color: #25A4DB;
    color: #000;
}

.btn-secondary {
    background-color: #000;
    color: #010101;
}