<a href="{{ SITEURL }}/pages/flavia-lopes.html">
    <div class="circular"
         style="background: url('{{SITEURL}}/{{DEFAULT_METADATA.avatarblog}}') no-repeat; background-position: center;">
    </div>
</a>
<a href="{{ SITEURL }}/pages/flavia-lopes.html">
    <h2 class="title">{{ SITENAME }}</h2>
</a>
<a href="{{ SITEURL }}/pages/flavia-lopes.html">
    <h4 class="subtitle">{{ SITEDESCRIPTION }}</h4>
</a>
{% for title,url in SOCIAL %}
<a href="{{ url }}">
    <img class="social-icon" src="{{ SITEURL }}/theme/images/{{ title }}-128.png" style="width: 64px;">
</a>
{% endfor %}

