<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {{ SITENAME }}{% endblock %}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="wb:webmaster" content="ba29596b8c7c7ae7" /> 

     <!-- Description and Keywords (start) -->
    <meta name="description" content="{{ SITEDESCRIPTION }}">
    <meta name="author" content="{{ AUTHOR }}">
    <meta content="{{ BLOGKEYWORDS }}" name="keywords">
    <!-- Description and Keywords (end) -->
    <meta content="Flavia Lopes .Dev" property="og:site_name">
    <meta content="{{ SITEURL }}" name="twitter:domain">
    <meta content="" name="twitter:title">
    <meta content="summary" name="twitter:card">
    <!-- Social Media meta tag need customer customization -->
    <meta content="Facebook App ID here" property="fb:app_id">
    <meta content="Facebook Admin ID here" property="fb:admins">
    <meta content="@username" name="twitter:site">
    <meta content="@username" name="twitter:creator">

    <link href="{{SITEURL}}/{{DEFAULT_METADATA.favicon}}" rel="icon" type="image/x-icon">
    <link href="{{ SITEURL }}/theme/css/fonts.css" rel="stylesheet" />

    <link href="{{ SITEURL }}/theme/css/normalize.css" rel="stylesheet"/>
    <link href="{{ SITEURL }}/theme/css/skeleton.css" rel="stylesheet"/>
    <link href="{{ SITEURL }}/theme/css/github-prettify-theme.css" rel="stylesheet"/>
    <link href="{{ SITEURL }}/theme/css/custom.css" rel="stylesheet"/>
    <link href="{{ SITEURL }}/theme/css/pygement.css" rel="stylesheet"/>
    <link href="{{ SITEURL }}/theme/css/posts.css" rel="stylesheet"/>
    <link href="{{ SITEURL }}/theme/css/icons.css" rel="stylesheet"/>

    <script src="{{ SITEURL }}/theme/js/jquery.min.js"></script>
    <script src="{{ SITEURL }}/theme/js/run_prettify.js"></script>
    <script src="{{ SITEURL }}/theme/js/site.js"></script>
</head>
<body class="code-snippets-visible">

<div class="navbar-spacer"></div>
<nav class="navbar">
    <div class="container">
        <ul class="navbar-list">
            <li class="navbar-item">
                <a class="navbar-link" href="{{ SITEURL }}/index.html">
                    HOME
                </a>
            </li>
            {% for page in pages %}
                <li class="navbar-item">
                    <a class="navbar-link" href="{{ SITEURL }}/{{ page.url }}">
                        {{ page.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <div class="navbar-link">
            <a href="{{ SITEURL }}/index.html"><img src="{{ SITEURL }}/{{ DEFAULT_METADATA.favicon }}" class="site-icon"/></a>
        </div>
    </div>
</nav>
<div class="container">
    {% block container %}
    {% endblock %}
</div>

{% block footer %}
{% endblock %}

</body>
</html>
