{% extends 'base.html' %}

{% block container %}
<section class="header">
    {% include '_includes/header.html' %}
</section>
<div class="clearfix"></div>
<section class="home-section">
    {% for article in articles[0:DEFAULT_PAGINATION] %}
    <div class="post-outer">
        <div class="post hentry">
            <div class="post-home-wrap">
                <div class="home-post-head">

                    <div class="date_holder">
                        <span class="month">{{ article.date|strftime('%d') }}</span>
                        <span class="month">{{ article.date|strftime('%m') }}</span>
                        <span class="month">{{ article.date|strftime('%Y') }}</span>
                    </div>

                    <div class="home-post-head-wrap">
                        <div class="home-post-head-wrap">
                            <font class="retitle">
                                <h2 class="post-title entry-title">
                                    <a href="{{ SITEURL }}/{{ article.url }}">
                                        {{ article.title }}
                                    </a>
                                </h2>
                            </font>

                            <div id="meta-post">
                                <span class="auth-meta">
                                    <i class="site-icon-user-card"></i>
                                    <a class="g-profile" href="{{SITEURL}}/{{article.author.url}}" rel="author" title="{{ article.author }}">
                                        <span itemprop="name">{{ article.author }}</span></a>
                                </span>
                                <span class="post-labels">
                                    <i aria-hidden="true" class="site-icon-folder-open"></i>
                                    <a href="{{ SITEURL }}/{{ article.category.url }}" rel="tag nofollow">{{article.category}}</a>
                                {% for sub in article.subcategories[0:3] %}
                                    <i aria-hidden="true" class="site-icon-folder-open"></i>
                                    <a href="{{ SITEURL }}/{{ sub.url }}" rel="tag nofollow">{{sub.shortname}}</a>{{ ', ' if not loop.last }}
                                {% endfor %}
                                {% for tag in article.tags[0:3] %}
                                    <i aria-hidden="true" class="site-icon-pin"></i>
                                    <a href="{{ SITEURL }}/{{ tag.url }}"
                                       rel="tag nofollow">{{tag}}</a>
                                {%endfor%}
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-image">
                    <a class="thumb"
                       href="{{ SITEURL }}/{{ article.url }}">
                        <img alt="{{ article.title }}"
                             src="{% if article.thumb %} {{SITEURL}}/{{ article.thumb }} {% else %} {{ SITEURL }}/{{HEADER}} {%endif%}"
                        >
                    </a>
                </div>
                <!--<div class="post-header">
                </div>-->

                <article>
                    <div class="date-header-post">
                        <div class="resumo">
                            <span>
                                <div>
                                    <div class="snippets">
                                        {{ article.summary }}
                                    </div>
                                </div>
                            </span>
                        </div>
                        <div style="clear: both;"></div>
                        <div class="second-meta">
                                                <span class="read-more-wrap">
                                                    <a class="read-more anchor-hover"
                                                       href="{{ SITEURL }}/{{ article.url }}">Leia mais »</a></span>
                        </div>
                    </div>
                </article>

            </div>
        </div>
        {% endfor %}
</section>

<br/><br/><br/>
<section class="home-section">
    <div class="row">
        <div class="post-outer">
            <h2 class="blogpost-title">Projetos</h2>
            <div class="home-post">
                {% for title,url in PROJECTS %}
                <a href="{{ url }}" target="_blank">{{ title }}</a>&nbsp; &nbsp;
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}


{% block footer %}
{% include '_includes/footer.html' %}
{% endblock %}
