{% extends 'base.html' %}

{% block title %}{{ SITENAME }} - {{ page.title }} {% endblock %}

{% block container %}
    <section id="content">
        {% if page.title == 'blog' %}
            <header class="header">
                <h1 class="blogpost-title">Articles in {{ AUTHOR }}'s blog</h1>
            </header>
            <dl>
            {% for category,articles in categories %}
                <h3>
                    {{ category }}
                </h3>
                {% for article in articles %}
                    <dd>
                        <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
                    </dd>
                {% endfor %}
            {% endfor %}
            </dl>
    </section>
            <br/><br/><br/>
        {% else %}
            <header class="header">
                <h1 class="blogpost-title">{{ page.title }}</h1>
            </header>
            {{ page.content }}
    </section>
            <br/> <br/> <br/>
        {% endif %}
{% endblock %}

{% block footer %}
{% include '_includes/footer.html' %}
{% endblock %}
